body{
    font-family:sans-serif;
}
.loading{
    position:absolute;
    font-size:50px;
    color:#eee;
    top:50%;
    left:50%;
    margin-left:-100px;
    margin-top:-10px;
}
#map {
    position: absolute;
    top: 55px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: block;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
}
img{
    border-left:1px solid white;
    border-bottom:1px solid red;
    border-right:1px solid blue;
    border-top:1px solid green;
}

h3{
    margin-top:15px;
}
